html, body
{
    width: 100%;
}

.titleList
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.titleList h1
{
    font-size: 45px;
    color: #1f638e;
    font-weight: bold;
}

.rsltd-acoes-container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 8px;
}

.rsltd-acoes-container p
{
    font-size: 17px;
    color: #183458;
}

.global-list-container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 179px;
}

.list-container
{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1f638e;
    border-radius: 6px;
}

.buscar-e-adicionar-container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}

.buscar-e-adicionar-container form
{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 3px;
}

.buscar-e-adicionar-container form input
{
    width: 85%;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding-left: 5px;
    font-size: 14px;
    transition: 0.2s;
}

.buscar-e-adicionar-container form input:focus
{
    outline: none;
    box-shadow: 0 0 8px black;
}

.buscar-e-adicionar-container form button
{
    width: 9%;
    height: 30px;
    border: none;
    background-color: #183458;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.buscar-e-adicionar-container form button:hover
{
    background-color: #fff;
    color: #1f638e;
}

.btn-adicionar-container
{
    width: 40%;
    display: flex;
    align-items: center;
    padding-right: 10px;
    justify-content: end;
    gap: 5px;
}

.btn-adicionar-container a
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 16%;
    height: 30px;
    border: none;
    background-color: #183458;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-adicionar-container a:hover
{
    background-color: #fff;
    color: #1f638e;
}

.verResultado-container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 6px;
    padding-bottom: 6px;
}

.verResultado-container p
{
    color: #fff;
    font-size: 16px;
    animation: resultado_busca 0.3s ease;
}

.tbl-pacientes-container
{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tbl-pacientes-container table
{
    width: 99%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    border-collapse: collapse;
    border-radius: 3px;
}

.tbl-pacientes-container table thead {
    background-color: #183458;
    color: #fff;
    border-radius: 3px;
}

.tbl-pacientes-container thead tr, .tbl-pacientes-container thead td {
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    border-right: 1px solid #ddd;
    text-align: center;
}

.tbl-pacientes-container tbody td {
    padding: 10px;
    border-left: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    vertical-align: middle;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
    white-space: nowrap;
}

.tbl-pacientes-container tbody tr:hover {
    background-color: #e9ecef;
}

.acoes-td-tbl
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.acoes-td-tbl a img, .acoes-td-tbl form button img
{
    width: 20px;
    height: 20px;
    transition: 0.1s;
    cursor: pointer;
}

.acoes-td-tbl form button
{
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-size: 15px;
    color: #183458;
}

.acoes-td-tbl a img:hover, .acoes-td-tbl form button img:hover
{
    opacity: 0.65;
}

.form-btns-texto
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns-texto
{
    width: 80%;
    height: 30px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.btns-texto:hover
{
    text-decoration: underline;
    opacity: 0.8;
}